# SPDX-License-Identifier: GPL-2.0-or-later
# SPDX-FileCopyrightText: James Turner <james@flightgear.org>

variables:
  BUILD_DIR: "$CI_PROJECT_DIR/build"
  PREFIX_DIR: "$CI_PROJECT_DIR/simgear-dist"
  # create a root dir *above* the SimGear checkout, otherwise CMake
  # complains about INTERFACE_INCLUDE_DIRECTORIES being the source dir
  WIN_FG_DIR: $CI_BUILDS_DIR\flightgear
  MAC_IMAGE: macos-14-xcode-15
  OSG_REF: next
  BRANCH_REF: next
  HOMEBREW_NO_AUTO_UPDATE: 1

# do not run pipelines on forks
# build merge requests, tags and the protected branches
workflow:
  rules:
    - if: $CI_PROJECT_NAMESPACE != "flightgear"
      when: never
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_REF_PROTECTED == "true"

# see https://pre-commit.com/#gitlab-ci-example if changing this

# this job runs only on MRs, but needs to pass.
# the version below can fail, but runs over the whole repo, for now
pre-commit-merge:
  stage: build
  image: ${CI_REGISTRY}/flightgear/flightgear-ci-docker/pre-commit:latest
  script:
    - git fetch origin "$CI_MERGE_REQUEST_TARGET_BRANCH_NAME"
    - pre-commit run --from-ref origin/"$CI_MERGE_REQUEST_TARGET_BRANCH_NAME" --to-ref "$CI_COMMIT_SHA"
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  cache:
    paths:
      - ${PRE_COMMIT_HOME}

pre-commit:
  stage: build
  image: ${CI_REGISTRY}/flightgear/flightgear-ci-docker/pre-commit:latest
  script:
    # run on all files, but allow failure. For MRs
    - pre-commit run --all-files
  rules:
    - if: $CI_COMMIT_REF_PROTECTED == "true"
  cache:
    paths:
      - ${PRE_COMMIT_HOME}
  # important for now until we get some checks passing :)
  allow_failure: true

linux-build:
  image: ${CI_REGISTRY}/flightgear/flightgear-ci-docker/flightgear:latest
  stage: build
  script:
    - rm -f $BUILD_DIR/CMakeCache.txt
    # --fresh would be ideal here
    - >
      cmake -B $BUILD_DIR -S $CI_PROJECT_DIR -G Ninja
      -D CMAKE_BUILD_TYPE=RelWithDebInfo
      -D CMAKE_INSTALL_PREFIX=$PREFIX_DIR
      -D CMAKE_PREFIX_PATH=$CI_PROJECT_DIR/osg-dist

    - cmake --build $BUILD_DIR
    - cmake --build $BUILD_DIR --target install
  needs:
    - project: flightgear/openscenegraph
      job: linux-build
      ref: $OSG_REF
      artifacts: true
  artifacts:
    paths:
      - $PREFIX_DIR
  cache:
    key: "linux-x64-$CI_COMMIT_REF_SLUG"
    policy: push
    paths:
      - $BUILD_DIR

# even though SimGear doesn't use Qt5, we make some other changes in this image,
# such as using a different C-Ares version, which mean we need a distinct SimGear build,
# to match the FlighGear build
linux-qt5-build:
  image: ${CI_REGISTRY}/flightgear/flightgear-ci-docker/flightgear-qt5:latest
  stage: build
  script:
    - rm -f $BUILD_DIR/CMakeCache.txt

    # --fresh would be ideal here to avoid the line above, but needs CMake 3.25
    - >
      cmake -B $BUILD_DIR -S $CI_PROJECT_DIR -G Ninja
      -D CMAKE_BUILD_TYPE=RelWithDebInfo
      -D CMAKE_INSTALL_PREFIX=$PREFIX_DIR
      -D CMAKE_PREFIX_PATH=$CI_PROJECT_DIR/osg-dist

    - cmake --build $BUILD_DIR
    - cmake --build $BUILD_DIR --target install
  needs:
    - project: flightgear/openscenegraph
      job: linux-build
      ref: $OSG_REF
      artifacts: true
  artifacts:
    paths:
      - $PREFIX_DIR
  cache:
    key: "linux-qt5-$CI_COMMIT_REF_SLUG"
    paths:
      - $BUILD_DIR

windows-build:
  stage: build
  tags:
    - saas-windows-medium-amd64
  before_script:
    - C:\"Program Files (x86)\Microsoft Visual Studio"\2022\BuildTools\Common7\Tools\Launch-VsDevShell -SkipAutomaticLocation -Arch amd64
    - cmake --version
    - ninja --version

    # relocate our upstream deps outside the source dir, otherwise
    # CMake gets sad.
    - Move-Item -Path $CI_PROJECT_DIR\boost $WIN_FG_DIR\boost
    - Move-Item -Path $CI_PROJECT_DIR\msvc140 $WIN_FG_DIR\msvc140
  script:
    - >
      cmake -B $env:BUILD_DIR -S $env:CI_PROJECT_DIR --fresh -G "Visual Studio 17 2022" -A x64
      -D CMAKE_INSTALL_PREFIX=$env:PREFIX_DIR
      -D CMAKE_PREFIX_PATH=$env:CI_PROJECT_DIR/osg-dist
      -D MSVC_3RDPARTY_ROOT=$WIN_FG_DIR

    - cmake --build $BUILD_DIR --config RelWithDebInfo
    - cmake --build $BUILD_DIR --config RelWithDebInfo --target install
  needs:
    - project: flightgear/openscenegraph
      job: windows_build
      ref: $OSG_REF
      artifacts: true
    - project: flightgear/windows-3rd-party
      job: windows_build_msvc140
      ref: master
      artifacts: true
  artifacts:
    paths:
      - $PREFIX_DIR
  cache:
    paths:
      - $BUILD_DIR

macos-build:
  stage: build
  tags:
    - saas-macos-medium-m1
  image: $MAC_IMAGE
  before_script:
    - export HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK=1
    - export HOMEBREW_NO_INSTALL_CLEANUP=1
    - brew install ninja cmake boost c-ares
  script:
    - >
      cmake -B $BUILD_DIR -S $CI_PROJECT_DIR -G Ninja --fresh
      -D CMAKE_BUILD_TYPE=RelWithDebInfo
      -D CMAKE_INSTALL_PREFIX=$PREFIX_DIR
      -D CMAKE_PREFIX_PATH="$CI_PROJECT_DIR/osg-dist;$CI_PROJECT_DIR/dist"
      -D CMAKE_OSX_ARCHITECTURES="arm64;x86_64"
      -D ENABLE_SIMD=OFF
      -D ENABLE_VIDEO_RECORD:BOOL=OFF
      -D ENABLE_TESTS:BOOL=OFF # BoostTest isn't build fat, so we need to disable tests on macOS : ho-hum.

    - cmake --build $BUILD_DIR
    - cmake --build $BUILD_DIR --target install
  needs:
    - project: flightgear/openscenegraph
      job: macos-build
      ref: $OSG_REF
      artifacts: true
    - project: flightgear/macos-3rd-party
      job: macos-build
      ref: main
      artifacts: true
  artifacts:
    paths:
      - $PREFIX_DIR
  cache:
    paths:
      - $BUILD_DIR

# run tests using the binary built before
test:
  image: ${CI_REGISTRY}/flightgear/flightgear-ci-docker/flightgear:latest
  stage: test
  needs:
    # needed so we have the OSG libs
    - project: flightgear/openscenegraph
      job: linux-build
      ref: $OSG_REF
      artifacts: true
    - job: linux-build
      artifacts: false
  script:
    - cd $BUILD_DIR
    # some tests need OSG libraries
    - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$CI_PROJECT_DIR/osg-dist/lib
    - ctest --output-on-failure --output-junit result.xml
  cache:
    key: "linux-x64-$CI_COMMIT_REF_SLUG"
    policy: pull
    paths:
      - $BUILD_DIR
  artifacts:
    when: always
    paths:
      - $BUILD_DIR/result.xml
    reports:
      junit: $BUILD_DIR/result.xml

# if we're building a merge request, build the corresponding
# target branch of FlightGear. This assumes that target
# branches are identical for SimGear+FlightGear
staging:
  stage: deploy
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  trigger:
    project: flightgear/flightgear
    branch: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
    strategy: depend
  inherit:
    variables: false

# if we're NOT building a merge-request, build the
# same branch as here: again this assumes SimGear+FlightGear
# branches names match
staging:
  stage: deploy
  rules:
    - if: $CI_PIPELINE_SOURCE != 'merge_request_event'
  trigger:
    project: flightgear/flightgear
    branch: $CI_COMMIT_BRANCH
    strategy: depend
  inherit:
    variables: false
